/*
.white_box = creates a white background for a (header)
.text_paragraph = works along with .white_box to fit the text inside the box
.text_project = makes a smaller white box 
.text_single_line = a single line of white text (no box)
.container = sets up the basics for a container to hold the main background
.center_image = centers the background image*/


/*paragraphs*/

.white_box
{
  background-color: white;
  height: 100px;
  margin-bottom: 1.3%;
}

.text_paragraph
{
  border: 2px;
  background-color: white;
  height: 200px;
  width: 1256px;
  padding: 40px;
  margin-right: auto;
  margin-left: auto;
}

.text_project
{
  border: 2px;
  background-color: white;
  height: 20px;
  width: 1256px;
  padding: 10px 40px 40px 40px;
  margin-right: auto;
  margin-left: auto;
}

.text_single_line
{
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.container 
{
  margin-top: 1.3%;
  position: relative;
}

.center_image 
{
  /*font*/
  font-family: Courier, "Courier New", Georgia, sans-serif;
  text-align: center;
  font-size: 800%;
  letter-spacing: 30px;
  color: white;

  /*for forming the writing "box"*/
  width: 100%;
  height: auto;
  position: absolute;

  /*where the box is placed*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*separate blue box*/
.box
{
  background-color: #01426a;
  padding: 20px;
}

/*tabs*/
.tab {
  overflow: hidden;
  width: 96.5%;
  margin-bottom:;
}

.tab_button
{
  display:inline-block;
  font-family: "Open Sans";
  background-color: #ece81a;
  cursor: default;
  text-decoration: none;
  border: none;
  padding: 5px 30px 5px 30px;
  /*margin-right: 20%;*/
}

.tab_button_text
{
  text-decoration: none; 
  font-size: 150%; 
  color: #08517c; 
  font-family: Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

.text_header
{
  background-color: white;
  height: 100px;
  margin-bottom: 1.3%;
  color: blue;
  font-family: Verdana;
  text-align: center;
  font-size: 600%;
}

li.contact
{
  font-family:'Stencil Std', fantasy;
}

ul.circle
{
  list-style-type: circle;
}

/*general*/
body
{
  background-color: #01426a;
  padding: 20px;
}

button 
{
  font-family: "Open Sans";
  background-color: #ece81a;
  border: none;
  text-align: center;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}